<div class="ui-g">
  <div class="ui-g-12">
    {{ materiaSelecionada.nome ? materiaSelecionada.nome : 'Nenhuma matéria selecionada' }}
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <button pButton (click)="iniciarContagem()" [disabled]="habilitarBotaoContagem()" class="botaoIniciar" label="INICIAR" icon="fa-clock-o fa-2x" iconPos="left">
    </button>
    <button pButton (click)="pararContagem()" [disabled]="habilitarBotaoContagem()" class="botaoIniciar ui-button-danger" label="PARAR" icon=" fa-stop-circle fa-2x"
      iconPos="left"></button>
  </div>
<span>{{formatarHoras() | timerSeconds}}</span>
</div>
