<label for="ifilterNome">Nome</label>
<input id="ifilterNome" pInputText type="text" [(ngModel)]="cicloFilter.nome" name="nomeCiclo">
<button pButton type="submit" label="Pesquisar" (click)="consultar()"></button>


<p-dataTable [value]="page.content"
  [paginator]="true" [rows]="cicloFilter.size"
  [lazy]="true" [totalRecords]="page.totalElements"
  (onLazyLoad)="aoMudarPagina($event)"
  [responsive]="true">
  <p-column field="nomeCiclo" header="Nome"></p-column>
  <p-column field="totalHoras" header="Total de Horas"></p-column>
  <p-column header="Ação">
    <ng-template let-ciclo="rowData" pTemplate="body">
      <button type="submit" pButton [routerLink]="['/ciclos', ciclo.codigo]" icon="fa-pencil"></button>
      <button pButton type="submit" icon="fa-trash" (click)="deletar(ciclo.codigo)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button pButton routerLink="/ciclos/novo" label="Novo Ciclo"></button>
