<ng2-toasty></ng2-toasty>

<p-dataTable [value]="materias">
  <p-column field="id" header="Codigo"></p-column>
  <p-column field="nome" header="Nome"></p-column>
  <p-column header="Ação">
    <ng-template let-materia="rowData" pTemplate="body">
        <button pButton (click)="selecionar(materia)"
        [routerLink]="['/materias', materia.id]" label="Atualizar"></button>
      <button pButton (click)="excluir(materia)" label="Excluir"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<br/>

<button pButton routerLink="/materias/novo" label="Nova Matéria"></button>


